<% if @student.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@school, @student] do |f| %>
  <p><%= f.label :first_name %> <%= f.text_field :fore_name %></p>
  <p><%= f.label :last_name %> <%= f.text_field :last_name %></p>
  <p><%= f.label :form_id %> <%= f.collection_select(:form_id, Form.where(school_id: @school.id).order({name: :asc}), :id, :name, prompt: false ) %></p>

        <%= f.hidden_field(:school_id, :value=> @school.id) %>




  <p><%= f.submit "Submit"%></p>

<% end %>
