<h2>Show</h2>

<p><%= link_to (@student.fore_name + " " + @student.last_name), edit_school_student_path(@school.id, @student.id) %></p>
<p>Form: <%= @student.form.name %></p>
<p>Year: <%= @student.year %></p>


<%= link_to 'edit', edit_school_student_path(@school.id, @student.id) %> | <%= link_to 'back', school_students_path %>
