<h2><%= @student.fore_name + " " + @student.last_name %></h2>

<p><strong>Form: </strong><%= @student.form.name %> | <strong>Year: </strong><%= @student.form.year.name %></p>
<%= link_to 'edit', edit_student_path(@student.id) %> | <%= link_to 'back', students_path %>


<h3>Detentions</h3>
<table>
  <thead>
    <tr>
      <th>Date set</th>
      <th>Reason</th>
      <th>Type</th>
      <th>Set by</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
<% @student.detentions.each do |d| %>
  <tr class="<%= cycle('even', 'odd') %>"><td><%= d.date_due.strftime("%a %-d %b %y") %></td><td><%= d.reason %></td><td><%= d.detention_type %></td><td><%= d.user.name %></td><td><%= d.completed %></td></tr>
<% end %>
  </tbody>
</table>
