<% if @detention_type.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @detention_type.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @detention_type do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :duration %> (in minutes) <%= f.text_field :duration %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>
