<h2><%= (@user.title + " " + @user.name) %></h2>

<p><%= @user.department.name %> | <%= @user.role.name %></p>

<%= link_to 'edit', edit_school_user_path(@school.id, @user.id) %> | <%= link_to 'back', school_users_path %>


<h3>Detentions</h3>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Date set</th>
      <th>Reason</th>
      <th>Type</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
<% @user.detentions.each do |d| %>
  <tr class="<%= cycle('even', 'odd') %>"><td><%= d.student.full_name%></td><td><%= d.date_due.strftime("%a %-d %b %y") %></td><td><%= d.reason %></td><td><%= d.detention_type.name %></td><td><%= d.completed %></td></tr>
<% end %>
  </tbody>
</table>
