<h2><%= (@user.name) %></h2>

<p><%= @user.department.name %> | <%= @user.role.name %> | <%= link_to 'edit', edit_user_path(@user.id) %> </p>




<h3>Detentions</h3>
<table width="80%">
  <thead>
    <tr>
      <th width="30%">Student</th>
      <th width="15%">Date set</th>
      <th width="15%">Date due</th>
      <th width="15%">Reason</th>
      <th width="15%">Type</th>
      <th >Completed</th>
    </tr>
  </thead>
  <tbody>
<% @detentions.each do |d| %>
  <tr class="<%= cycle('even', 'odd') %><% if d.is_overdue %> overdue<% end %>"><td><%= d.student.full_name%></td><td><%= d.date_set.strftime("%a %-d %b %y") %></td><td><%= d.date_due.strftime("%a %-d %b %y") %></td><td><%= d.reason %></td><td><%= d.d_type.humanize %></td><td><%= human_boolean(d.completed) %></td></tr>
<% end %>
  </tbody>
</table>
