<% if @detention.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @detention.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@school, @detention] do |f| %>
  <p><%= f.label :detention_type %> <%= f.collection_select(:detention_type_id, DetentionType.all, :id, :name, prompt: false ) %></p>
  <p><%= f.label :user_id, "Staff"%> <%= f.collection_select(:user_id, @users, :id, :full_name, prompt: true ) %></p>
  <p id="flash"><%= f.label :student_name %> <%= f.text_field :student_name, data: { autocomplete_source: school_students_path} %></p>
  <% if @student %>
    <p><%= link_to "New student", new_school_student_path, id:"new_student_link"%></p>
  <% end %>
  <p><%= f.label :reason %> <%= f.text_field :reason %></p>
  <p><%= f.label :date_set %> <%= f.date_select :date_set, {order: [:day, :month, :year]} %></p>
  <p><%= f.label :date_due %> <%= f.date_select :date_due, {default: @detention.not_weekend , order: [:day, :month, :year]} %></p>
  <fieldset>
  <p><%= f.label :completed %> <%= f.check_box :completed %></p>
  <p><%= f.label :date_completed %> <%= f.date_select :date_completed, order: [:day, :month, :year] %></p>
  </fieldset>

  <%= f.hidden_field :student_id%>
  <%= f.hidden_field(:school_id, :value=> @school.id) %>

  <p><%= f.submit "Set detention" %></p>
  <% if f.object.persisted?() %>
  <%= link_to 'Delete this detention', school_detention_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%  end %>



<% end %>

<% if @student %>
<div id="new_student_form">
  <%= form_with(model: [@school, @student], id: "new_student") do |f| %>
    <p><%= f.label :first_name %> <%= f.text_field :fore_name %></p>
    <p><%= f.label :last_name %> <%= f.text_field :last_name %></p>
    <p><%= f.label :form_id %> <%= f.collection_select(:form_id, Form.where(school_id: @school.id).order({name: :asc}), :id, :name, prompt: true ) %></p>
    <%= f.hidden_field(:school_id, :value=> @school.id) %>
    <p><%= f.submit "Submit", :id=>"student_submit"%></p>

  <% end %>
</div>
<% end %>
