<% if @teacher.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @teacher.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @teacher do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.label :department %> <%= f.collection_select(:department_id, Department.where(school_id: 1), :id, :name, prompt: true ) %></p>
  <%= f.hidden_field :school_id, :value => 1 %>
  <p><%= f.submit "Submit" %></p>
<% end %>
