<h2>New School</h2>

<% if @school.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @school.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @school do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.submit "create" %></p>
<% end %>

<%= link_to "back", schools_path %>
