<h2>Show</h2>

<p><%= @school.name %></p>
<%= link_to 'edit', edit_school_path %> | <%= link_to 'back', schools_path %>


<h3>Departments</h3>
<% @departments.each do |d| %>
  <p><%= link_to d.name, edit_school_department_path(d.school_id, d.id) %></p>
<% end %>

<%= link_to 'create new department', new_school_department_path(@school.id) %>



<h3>Teachers</h3>
<% @teachers.each do |t| %>
  <p><%= link_to (t.title + " " + t.name), edit_school_teacher_path(@school.id, t.id) %> | <%= t.department.name %> | <%= t.role.name %> </p>
<% end %>

<%= link_to 'create new teacher', new_school_teacher_path(@school.id) %>

<h3>Students</h3>
  <% @students.each do |s| %>
    <p><%= link_to((s.fore_name + " " + s.last_name), edit_school_student_path(@school.id, s.id)) %> | Year: <%= s.year %>  | Form: <%= s.form %>  </p>
  <% end %>



<%= link_to 'create new student', new_school_student_path(@school.id) %>
