<h1><%= @school.name %></h1>

<p></p>
<%= link_to 'edit', edit_school_path %>


<h3>Departments</h3>
<table id="department_table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<% @departments.each do |d| %>
  <tr><td><%= link_to d.name, school_department_path(d.school_id, d.id) %></td></tr>

<% end %>
</tbody>
</table>

<p><%= link_to 'create new department', new_school_department_path(@school.id) %></p>



<h3>Staff</h3>
<table id="Staff_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>

<% @users.each do |t| %>
  <tr><td><%= link_to t.name, school_user_path(@school.id, t.id) %> </td><td> <%= t.department.name %> </td><td>  <%= t.role.name %> </td></tr>
<% end %>
</tbody>
</table>

<p><%= link_to 'create new staff', new_school_user_path(@school.id) %></p>

<h3>Students</h3>
<table id="Staff_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Form</th>
    </tr>
  </thead>
  <tbody>


  <% @students.each do |s| %>
    <tr><td><%= link_to((s.fore_name + " " + s.last_name), school_student_path(@school.id, s.id)) %> </td><td> <%= s.form.year.name %>  </td><td>  <%= s.form.name %>  </td></tr>
  <% end %>
</tbody>
</table>


<%= link_to 'create new student', new_school_student_path(@school.id) %>
