<% if @form.errors.any? %>
  <h3> Errors </h3>
  <ul>
    <% @form.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>


<%= form_for @form do |f| %>

<p><%= f.label :name %> <%= f.text_field :name %></p>
<p><%= f.label :year %> <%= f.collection_select(:year, years, :first, :first, :class => "form-control")  %></p>



<p><%= f.submit "submit" %>

<% end %>
