<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to image_tag('site_logo.png', height: '40'), detentions_path, :class => "navbar-brand" %></li>
        </div>
        <ul class="nav navbar-nav">
          <li style="padding:5px"><%= link_to "Home", detentions_path, :class => "active" %> </li>
          <li style="padding:5px"><%= link_to " Students ", students_path %></li>
          <li style="padding:5px"><%= link_to "Staff ", users_path %></li>
          <li style="padding:5px"><%= link_to "Forms ", forms_path %></li>
          <li class="dropdown" style="padding:5px">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= render 'devise/menu/registration_items' %></li>
            <li><%= render 'devise/menu/login_items' %></li>
          </ul>
        </li>
        </ul>
      </div>
    </nav>


    <div class="container">
<!--      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div> -->

      <% flash.each do |key, value| %>
            <div class="a_box <%= flash_class(key) %>" >
                  <%= value %>
            </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
